.ios, .md {

    page-quimica {

        ion-content {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b577b+0,341a4a+100 */
          background: #1b577b; /* Old browsers */
          background: -moz-linear-gradient(-45deg, #1b577b 0%, #341a4a 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(-45deg, #1b577b 0%,#341a4a 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(135deg, #1b577b 0%,#341a4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

        ion-slide {
            align-items: flex-start;
        }

        ion-item {
            margin-bottom: 5px;
            font-size: 0.9em;
            background-color: map-get($colors, primary);
        }

        flash-card {
            color: #000;

            img {
                width: 100%;
                height: auto;
            }
        }

        .start-slide {
            justify-content: center;
            align-items: center;

            button {
                font-size: 0.9em;
                font-weight: bold;
            }
        }

    }

}
